<div class="wrapper-call-to-action">
  <section class="call-to-action">
    <p>Are you an athlete? A sports club? A sports federation?</p>

    <a href="http://www.psychosport.eu/en" class="button-call-to-action">Learn about us</a>
  </section>
</div>
